* {
  box-sizing: border-box;
}

body {
  background-color: #1f1b1b9a;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  h1 {
    font-size: 3rem;
  }
  #val1 {
    color: aqua;
  }
  #val2 {
    color: rgb(228, 25, 42);
  }
  button {
    border: 2px solid aqua;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    margin: 1%;
    &:hover {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
      border: 3px solid rgb(228, 25, 42);
    }
  }
}
